/* ----- Accordion toggle ----- */
#build-tab-toggle {
    /*padding-left:20px;*/
}

.col-center {
    /*Centering the arrow*/
    float: none;
    margin: 0 auto;
    font-size: 15px;
    padding-bottom: 5px;
}

.collapse-top-buffer {
    margin-top: 20px;
    overflow-x: auto;
}

/* ---------------------------- */

/* ----- Build information ----- */
.build-information {
    padding-left: 10px;
}

/* ----------------------------- */

/* ----- Build number ----- */
div.build-number {
    position: relative;
    top: 0;
    left: 0;
}

.panel-body-buffer-top {
    padding-top: 0;
}

/* ------------------------ */

/* ----- Build branches ----- */
.build-branches {
    height: inherit;
    padding-top: 20px;
}

/* -------------------------- */

/* ----- Build attachments ----- */
.build-attachments {
    padding-left: 0px;
    padding-top: 20px;
}

.build-attachments span {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.build-attachments span.glyphicon {
    font-size: 20px;
}

.build-attachments span.fa {
    font-size: 25px;
}

.build-attachments span.fa.mobile-icon {
    font-size: 60px;
    margin-bottom: -5px;
}

.build-attachments span.remove-icon {
    padding-right: 3px;
}

/* ----------------------------- */

/* ----- Build header ----- */
.run-button {
    font-size: 15px;
}

/* ------------------------------- */

div.panel-body.well {
    border-radius: 0;
}

/* ----- Settings tab ----- */
fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    background-color: #ffffff;
}

fieldset img {
    width: 60px;
    height: 60px;
    display: inline-block;
}

div.git-settings fieldset {
    width: auto;
}

fieldset span.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

fieldset span.disabled img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*span.github-icon img {*/
/*height: 50px;*/
/*width: 50px;*/
/*}*/

fieldset span img:hover {
    cursor: pointer;
}
/* ------------------------ */

/* ----- Modal form status-----*/
.modal-form-active {
    display: block;
}

.modal-form-disabled {
    display: none;
}
/* -----------------------------*/

/* ----- Modal textarea ----- */
div.modal textarea {
    resize: vertical;
}
/* -------------------------- */