/* ----- Search bar ----- */
form.search {
    /* If we don't put this we can't resize the input
     and the control-feedback at the same time*/
    max-width: 300px;
    margin-left: -15px;
}

input#search_field {
    border-radius: 25px;
    /*max-width: 300px;*/
}

.left-icon input {
    /* The glyph-icon will fill this gap */
    padding-left: 30px !important;
}

.left-icon span.left {
    /* Pull the glyph-icon to the left */
    left: 0 !important;
    padding-left: 5px;
}

/* ---------------------- */

/* ----- Add button ----- */
button.btn-padding {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -15px;
}

/* ---------------------- */

/* ----- Spacing ----- */
.top-buffer {
    margin-top: 20px;
}

.right-buffer-minus {
    /*margin-right: -30px;*/
}

.bottom-buffer-minus {
    margin-bottom: -20px;
}

/* ------------------- */

/* ----- Panel ----- */
.main-panel {
    margin: 15px;
    display: block;
}

.main-panel:hover {
    /*cursor:pointer;*/
}

div.panel-element {
    /*display: inline;*/
    /*margin-right: -15px;*/
    margin-right: 10px;
}

div.panel-body-buffer-minus {
    padding-bottom: 0;
    margin-bottom: -2px; /*-2px to override the element defaul border*/
}

/* ----------------- */

/* ----- OS and name ----- */
span.project-name {
    /*display: inline;*/
    font-size: 20px;
}

div.os-image img {
    max-height: 30px;
    max-width: 30px;
    margin-top: -5px; /*Moving up the image*/
}

/* ------------------------*/

/* ----- Right side icons ----- */
.right-side-icons {
    font-size: 20px;
}

.right-side-icons div {
    display: inline-block;
    margin-left: 15px;
}

.right-side-icons div.cancel-icon span {
    position: relative;
    top: -15px;
}

/*span.bottom-icon {*/
/*font-size: 30px;*/
/*}*/

.bottom-icon-hidden {
    background-image: url("/pics/transparent-image.png");
    height: 20px;
    width: 30px;
    display: inline-block;
    /*backgrounsd-color: black;*/
    /*margin-top:5px;*/
}

span.bottom-icon img {
    /*margin-top: -5px;*/
    max-height: 30px;
    max-width: 30px;
}

/* --------------------------- */

/* ----- Attached icon -----*/
span.attached img {
    max-height: 20px;
    max-width: 20px;
}

span.attached-none img {
    /*It doesn't have attachment*/
    max-height: 22.5px;
    max-width: 22.5px;
}

/* -------------------------*/

/* ----- Last build -----*/
div.last-build {
    /*Last build*/
    margin-top: 15px;
}

/* ----------------------*/

/* ----- Build status ----- */
.build-status {
    /*float: left;*/
    position: relative;
    top: -1px;
    left: -1px;
    border: 1px solid transparent;
    border-radius: 4px 0px 0px 4px;
    width: 10px;
    padding-bottom: -15px;
}

.build-status img {
    height: 90px;
}

.build-status-ok {
    background-color: #419641;
}

/* ------------------------ */

/* ----- Navbar ----- */
.navbar-icons {
    background-color: transparent;
}

.navbar-icons span {
    font-size: 20px;
}

.navbar-right {
    margin-right: 0px;
}

/* ------------------ */

/* ----- Navbar image ----- */
.navbar-image {
    margin-top: 6px;
    /*margin-left: 5px;*/
    /*background-color:green;*/
    color: #777;
    font-size: 20px;
}

.navbar-image:hover {
    background-color: transparent;
    color: black;
}
.navbar-image img {
    max-height: 40px;
    max-width: 40px;
    background-color: transparent;
}

/* ------------------------ */

body {
    padding-top: 70px;
}