/* ----- Accordion toggle ----- */
#build-tab-toggle {
    /*padding-left:20px;*/
}
.col-center {
    /*Centering the arrow*/
    float: none;
    margin: 0 auto;
    font-size: 15px;
}
.collapse-top-buffer {
    margin-top: 20px;
    overflow-x: auto;
}

/* ---------------------------- */

/* ----- Build information ----- */
.build-information {
    padding-left: 10px;
}

/* ----------------------------- */

/* ----- Build number ----- */
div.build-number {
    position: relative;
    top: 0;
    left: 0;
}

.panel-body-buffer-top {
    padding-top: 0;
}

/* ------------------------ */

/* ----- Build branches ----- */
.build-branches {
    height: inherit;
    padding-top: 20px;
}
/* -------------------------- */

/* ----- Build attachments ----- */
.build-attachments {
    padding-left: 0px;
    padding-top: 20px;
}

.build-attachments span {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.build-attachments span.glyphicon {
    font-size: 20px;
}

.build-attachments span.fa {
    font-size: 25px;
}

.build-attachments span.fa.mobile-icon {
    font-size: 60px;
    margin-bottom: -5px;
}

.build-attachments span.remove-icon {
    padding-right: 3px;
}

/* ----------------------------- */